body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

svg {
  max-width: 90%;
  max-height: 90%;
}

path {
  fill: #6f9c76 ;
  stroke: #fff;
  cursor: pointer;
  transition: fill 0.3s;
}

path:hover {
  fill: orange;
}

/* More Popular Food States */
#MY07   { fill: #E53935; }
#MY07:hover  {fill: rgb(18, 71, 18)}
#MY10   { fill: #FB8C00; } 
#MY10:hover  {fill: rgb(18, 71, 18)}
#MY14   { fill: #FDD835; } 
#MY14:hover  {fill: rgb(18, 71, 18)}
#MY01   { fill: #c9a6d3; } 
#MY01:hover  {fill: rgb(18, 71, 18)}
#MY04   { fill: #43A047; } 
#MY04:hover  {fill: rgb(18, 71, 18)}

/* Medium Popularity */
#MY02   { fill: #039BE5; } 
#MY02:hover  {fill: rgb(18, 71, 18)}
#MY08   { fill: #a87868; } 
#MY08:hover  {fill: rgb(18, 71, 18)}
#MY05   { fill: #F4511E; } 
#MY05:hover  {fill: rgb(18, 71, 18)}

/* Less Popular / Supporting States */
#MY06   { fill: #546E7A; } 
#MY06:hover  {fill: rgb(18, 71, 18)}
#MY09   { fill: #00ACC1; } 
#MY09:hover  {fill: rgb(18, 71, 18)}
#MY03   { fill: #7CB342; } 
#MY03:hover  {fill: rgb(18, 71, 18)}
#MY11   { fill: #6776d6; } 
#MY11:hover  {fill: rgb(18, 71, 18)}

/* East Malaysia */
#MY12   { fill: #00897B; } 
#MY12:hover  {fill: rgb(18, 71, 18)}
#MY13   { fill: #8361c9; } 
#MY13:hover  {fill: rgb(18, 71, 18)}

/* Federal Territories */
#MY16   { fill: #9E9E9E; } 
#MY16:hover  {fill: rgb(18, 71, 18)}
#MY15   { fill: #26A69A; } 
#MY15:hover  {fill: rgb(18, 71, 18)}